*{
	padding: 0;
	margin: 0;
	outline: none;
	box-sizing: border-box;
}
body{
	font-family: montserrat;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: rgb(63, 48, 48);
}
body div.calcu{
	text-align: center;
	justify-content: center;
	align-items: center;
	width: 240px;
	margin: 0 auto;
	background: tomato;
	border-radius: 10px;
}
h1{
	color: #f1d7db;
	box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.6);
}
div input[type='button'], button{
	width: 40px;
	height: 40px;
	margin: 3px 0;
}

div input[type='text']{
	height: 40px;
	width: 200px;
	background-color: #444;
	color: antiquewhite;
	padding: 12px 20px;
	margin-top: 40px;
	margin-bottom: 20px;
	box-sizing: border-box;
	border-radius: 4px;
	border: 2px solid #777;
}


div.resultado input, div.resultado button{
	height: 40px;
	width: 85px;
	margin-top: 2px;
	margin-bottom: 8px;
	border-radius: 4px;
}

div.resultado input, div.resultado button:hover{
	color:black;
	background-color: #a91225;
	transition: .8s;
}

div.resultado button{
	background-color: crimson;
	color: antiquewhite;
	border: 1px solid #a91225;
}

div.resultado input{
	background-color: crimson;
	color: antiquewhite;
	border: 1px solid #a91225;
}

#suma, #resta, #por, #div, #porc{
	background-color: #333;
	color: antiquewhite;
	border: 1px solid #777;
	font-size: 16px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}